CREATE DATABASE WEEK2
go
use WEEK2
go

CREATE TABLE customers(
customerid int primary key,
firstname varchar(255),
lastname varchar(255),
city varchar(255),
state varchar(255),
);




SELECT * from items_ordered;
--SELECT GETDATE();
DROP TABLE customers

CREATE TABLE items_ordered(
id int IDENTITY primary key ,
customerid int FOREIGN KEY REFERENCES customers(customerid),
order_date date,
item varchar(255),
quantity int,
price float,
);


INSERT INTO items_ordered(customerid, order_date, item, quantity, price) VALUES(10330,'30-jun-1999','Pogo stick',1,28.00);
INSERT INTO items_ordered(customerid, order_date, item, quantity, price) VALUES(10101,'30-jun-1999','Raft',1,58.00);
INSERT INTO items_ordered(customerid, order_date, item, quantity, price) VALUES(10298,'1-jul-1999','Skateboard',1,33.00);




DROP DATABASE WEEK2
SELECT * from customers;
DROP TABLE items_ordered;



--Bài Tập phần của Đức.TT
--cau 2 lấy tất cả các trường có truong bảng items_ordered rồi điều kiện là item = tent

SELECT *
from items_ordered
where item = 'tent';

--cau 11 đếm số đơn hàng mà mỗi khách đã đặt, với number_of_ordered là tổng số đặt hàng và Total là tổng Quantity sau đó group by theo customerid
SELECT customerid, COUNT(item) AS munber_of_ordered , 
SUM(quantity)AS ToTal
from items_ordered
GROUP BY customerid;



--cau 8 lấy giá thấp nhất của tent bằng MIN()
SELECT MIN(price) from items_ordered
where item ='tent';



--cau 15 hiện tên khách hàng và city nhưng sắp xếp theo thứ tự tăng dần bằng lastname
SELECT firstname, lastname, city from customers
order by lastname ;




--Phần bài tập của Quân.NĐ
--câu 12 Hiển thị người trong bảng state và đưa ra state có số lượng người lớn hơn 1

SELECT state, COUNT(customerid) AS songuoi
from customers
group by state
having COUNT(customerid) > 1;


--câu 16 Hiển thị item được mua từ  customerid 10449 và price theo thứ tự giảm dần

SELECT customerid, item, price from items_ordered
where customerid = 10449
order by price DESC, customerid ASC;


--câu 17 Hiển thị các trường item có price > 10.00 và price tăng dần

SELECT item, price from items_ordered 
where price > 10.00 
order by price ASC;


--câu 18 Hiển thị customerid, order_date, item nếu cột item không có mặt hàng Snow shoes và Ear muffs.
-- ở đây em dùng AND thay OR.
--Vì khi dùng OR thì một trong hai mặt hàng có giá trị true thì mọi mặt hàng sẽ được hiển thị

SELECT customerid, order_date, item from items_ordered
where (item <> 'Snow shoes') AND (item <> 'Ear muffs');



--câu 19 Hiển thị các cột item bắt đầu bằng chữ cái 'S', 'P', 'F' và price 

SELECT item, price
from items_ordered
where (item LIKE 'S%') OR (item LIKE 'P%') OR (item LIKE 'F%');



--Bài tập của KHOI.TC
--Câu 10 từ bảng item_ordered chọn item, giá tới đa và giá tới thiểu cho từng mặt hàng trong bảng
--Ở đây ta chon trường item và sử dụng max(price) min(price) là giá tới đa và giá tới thiểu 
--và as trường maximum price , minimum price rồi from từ bảng items_ordered
--ta dùng câu lệnh group by để nhóm các mặt hàng thành bảng riêng biệt
select item, max(price) as 'maximum price' , min(price) as 'minimum price' 
from items_ordered
group by item;

--câu 20
--Chọn ngày, mục và giá từ bảng items_ordered cho tất cả các hàng có giá trị trong khoảng từ 10,00 đến 80,00.
--Ta chọn trường order_date, item, price với câu lệnh select từ bảng items_ordered
--Sau đó ta dùng where trích xuất với điều kiện trường price nằm trong khoảng 10,00 đến 80,00
select order_date, item, price
from items_ordered
where price between 10.00 and 80.00;

--câu 21
--Chọn tên, thành phố và tiểu bang từ bảng khách hàng cho tất cả các hàng có giá trị tiểu bang là: Arizona, Washington, Oklahoma, Colorado hoặc Hawaii
--Chọn trường firstname, city, state từ bảng customers
--ta sử dụng where kết hợp với or để tìm các tiểu bang Arizona, Washington, Oklahoma, Colorado hoặc Hawaii trong trường state
select firstname, city, state 
from customers
where state = 'Arizona' or state = 'Washington' or state = 'Oklahoma'
or state = 'Colorado' or state = 'Hawaii';